.content main {
    --content-max-width: 80%;
    font-size: 3rem;
}

.content img {
    display: block;
    margin: 0 auto;
}

.content img.img-right {
    position: absolute;
    right: 5%;
}

.content img.img-overlay {
    z-index: 99;
}

.content main .read {
    font-size: 1.6rem;
}
